*{
    margin: 0;
    padding: 0;
    background-image: linear-gradient(to right, rgb(20, 147, 220), rgb(17, 54, 71));
}

.page {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.logo {
    margin-top: 10%;
}

img {
    width: 200px;
}

.icon {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
}

.btn {
    margin: 0 40px;
}

.btn i {
    font-size: 40px;
    color: black;
    line-height: 80px;
    transition: 0.5s;
}

.btn {
    position: relative;
    display: block;
    width: 80px;
    height: 80px;
    background-color: white;
    text-align: center;
    transform: perspective(100px) rotate(-30deg) skew(25deg) translate(0,0);
}

